/*MOBILE SCREEN*/
/*GLOBAL STYLES*/
body{
    background-color: #FFFFFF;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h2{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
}

h3{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

p{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

li{
    color: #DEDEDE;
}

a{
    color: #000000;
    text-decoration: none;
    display: block;
}

/*grid container*/
.container{
    margin: 5%;
}



/*MEMBERS PAGE*/
.title{
    text-align: center;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    display: block;
    background: #FFFFFF;
    border: 1px solid #E1E2E3;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.154693);
    border-radius: 3px;
    width: 270px;
    margin: 12px;
    transition: box-shadow .3s;
}

.card:hover{
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.254693);
}

.image{
    display: block;
    width: 268px;
    height: 156px;
    border-bottom: 3px solid #F55423;
    background-color: #cccccc;
    background-image: url(../images/quantum_computer-shutterstock2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0px 0px;
}

.content{
    padding: 21px 29px 25px 27px;
}

h3.date{
    color: #9B9B9B;
}

h3.read_CTA{
    margin-top: 15px;
    color: #F55423;
}

.material-icons.h3{
    font-size: 12px;
    vertical-align: middle;
    line-height: 14px;
}


/*------------------------------------*/

/*TABLET SCREEN*/
@media screen and (min-width: 800px) {


    /*grid container*/
    .container{
        grid-template-columns: 15% 70% 15%;
    }


}  /*End the media query*/



/*------------------------------------*/

/*DESKTOP SCREEN*/
@media screen and (min-width: 1200px) {


   
} /*End the media query*/
